<div class="jumbotron">
	<h1><p class="badge pull-right">Acctual time: {{stopwatch.acctualTime | date:'HH:mm:ss'}}</p></h1>
	<h3 class="">Stopwatch</h3>
	<hr/>

	<div class="input-group">
  		<input type="number" ng-model="stopwatch.time" ng-disabled="stopwatch.going " type="text" 
  			class="form-control" placeholder="set up time">
  		<span class="input-group-addon">seconds</span>
	</div>

	<br/>
	<button ng-disabled ="stopwatch.time === undefined" ng-click="stopwatch.changeStatus()" 
		class="btn button-large">{{stopwatch.status}}</button><br/>
	<div class="progress progress-striped active" ng-show="stopwatch.going">
  		<div class="progress-bar"  role="progressbar" 
  			aria-valuenow="{{(stopwatch.time - stopwatch.elapsed) / stopwatch.time * 100}}" aria-valuemin="0" 
  			aria-valuemax="{{stopwatch.time}}" style="width: {{(stopwatch.time - stopwatch.elapsed) / stopwatch.time * 100}}%">
  			{{(stopwatch.time - stopwatch.elapsed) / stopwatch.time * 100 | number:0}}%
  		</div>
	</div>
</div>